/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  margin: 0;
  padding: 0 clamp(0rem, -12.3005rem + 39.3617vw, 23.125rem);
  color: var(--accent-color, #000);
  font-family: var(--main-font-family, sans-serif);
  background-image: var(--bg-image);
  background-position: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weigth-normal, 400);
}

.header {
  min-width: 100%;
  margin-top: 100px;
  margin-bottom: clamp(6.25rem, 6.1835rem + 0.2128vw, 6.375rem);
  border: 2px solid var(--accent-color, #000);
  padding-block-start: clamp(7.5rem, 6.9681rem + 1.7021vw, 8.5rem);
  padding-block-end: 23px;
  font-family: var(--accent-font-family, fantasy);
  font-weight: var(--font-weigth-normal, 400);
  text-align: center;
  background-color: var(--main-color, #fff);
  font-variation-settings: "wght" var(--font-weigth-normal, 400);
}

.header-title {
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.5306rem + 1.7021vw, 4.0625rem);
  line-height: 1em;
}

.header-subtitle {
  margin-bottom: 23px;
  font-size: clamp(0.875rem, 0.5758rem + 0.9574vw, 1.4375rem);
  line-height: 1em;
  text-transform: uppercase;
}

.theme-menu__list {
  display: grid;
  justify-content: center;
  gap: 13px;
  padding-inline-start: 25px;
}

.theme-menu__item {
  justify-self: left;
}

.theme-menu__button {
  position: relative;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  padding: 0;
  color: var(--accent-color, #000);
  font-family: inherit;
  font-weight: var(--font-weigth-normal, 400);
  font-size: 14px;
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  color: var(--accent-color);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: loading .5s infinite ease-in-out alternate;
  inset-inline-start: -25px;
}

.theme-menu__item:focus,
.theme-menu__button:focus,
.card__like-button:focus,
.card__icon-button:focus,
.card_like:focus {
  outline: none;
}

.theme-menu__button::after {
  content: '';
  position:absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--accent-color);
  transition: transform 0.3s ease-in, color 0.5s ease-in;
  transform: scale(0);
  transform-origin: 0%;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50.5px;
  list-style: none;
}

.card__item {
  justify-self: center;
  border: 2px solid var(--accent-color, #000);
}

.card {
  background-color: var(--main-color, #fff);
}

.card__title {
  padding: 4px 10px;
  font-family: var(--main-font-family, sans-serif);
  font-weight: var(--card-title-weigth, 700);
  font-size: 18px;
  line-height: 1.21em;
  font-variation-settings: "wght" var(--card-title-weigth, 700);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__general {
  padding: 25px;
}

.card__general .card__text:not(:last-of-type) {
  margin-block-end: 27px;
}

.card__text {
  margin-block-end: 25px;
  font-family: var(--main-font-family, sans-serif);
  font-weight: var(--card-text-weigth, 400);
  font-size: 18px;
  line-height: 1.17em;
  font-variation-settings: "wght" var(--card-text-weigth, 400);
}

.wrapper {
  position: relative;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
  font-family: var(--accent-font-family, sans-serif);
  font-weight: var(--font-weigth-normal);
  font-size: 14px;
  line-height: 1em;
  text-align: left;
}

.wrapper__title {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1em;
  text-shadow: 1px var(--main-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .wrapper__title {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--main-color);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  overflow: hidden;
  transition: box-shadow 0.5s ease;
  cursor: pointer;
} 

.button:before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color, #000);
  transition: transform 0.5s;
  transform: translateX(-100%);
}

.button:hover:before {
  transform: translateX(0);
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color, #000);
  outline: none;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--buttom-text-color, #fff);
  font-family: var(--accent-font-family, sans-serif);
  font-weight: var(--font-weigth-normal, 400);
  font-size: 14px;
  line-height: 0.9em;
  mix-blend-mode: difference;
}

.card__like-button {
  position: relative;
  min-width: 130px;
  min-height: 38px;
  border: 2px solid var(--accent-color, #000);
  background-color: transparent;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color .3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.card_like {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 4px;
  max-height: 38px;
}

.like-icon {
  
  .contour {
    transition: fill .1s linear;
  }

  .core {
    fill: transparent;
    transition: fill .3s linear 0.03s;
  }

  .main-body {
    fill: transparent;
    transition: fill .3s linear;
  }

  .sparks {
    opacity: 0;
  }
}

.like-icon:hover {

  .core {
    fill: var(--accent-color);
    transition-delay: 0s;
  }

  .main-body {
    fill: var(--accent-color);
    transition-delay: .05s;
  }
}

.like-icon:active {

  .core {
    fill: var(--heart-accent-fill);
    transition-delay: 0s;
  }

  .main-body {
    fill: var(--heart-accent-fill);
    transition-delay: .05s;
  }
}

.like-icon.is-liked {

  .heart {
    transform-origin: center;
    animation: zoom-element .3s ease-in .1s forwards;
  }

  .core {
    fill: var(--heart-accent-fill);
    transition-delay: 0s;
  }
  
  .main-body {
    fill: var(--heart-accent-fill);
    transition-delay: .05s;
  }

  .contour {
    fill: var(--heart-accent-fill);
    transition-delay: .06s;
  } 

  .sparks {
    animation: change-opacity-sparks .3s ease-in .3s forwards;
  }
}

@media (width <= 500px) {
  .wrapper__title {
    right: 13px;
  }

  .card__save .button {
    flex-direction: column;
    gap: 10px;
    padding: 13px 20px 17px;
  }

  .card__save .card__save__icon {
    max-width: 28px;
    max-height: 28px;
  }
}

.card__save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: clamp(6.25rem, 6.1835rem + 0.2128vw, 6.375rem);
}

.card__save__icon {
  max-width: 21px;
  max-height: 21px;
  mix-blend-mode: difference;
}

.card__save__button-save {
  position: relative;
  gap: 8px;
  padding: 16px 20px;
  color: var(--buttom-text-color, #fff);
  background-color: var(--main-color, #fff);
}

.card__save__button-save:hover {
  cursor: pointer;
}

.card__save__dialog:not([open]) {
 opacity: 0;
 pointer-events: none;
}

.card__save__dialog[open] {
  position: fixed;
  display: grid;
  gap: 30px;
  max-width: 353px;
  border-width: 1px;
  padding: 30px;
  color: var(--accent-color, #000);
  background-color: var(--main-color, #fff);
  transition: opasity 0.3s ease-in-out;
}

.card__save__dialog[open]::backdrop {
  opacity: .75;
  background-color: #000;
}

.card__save__dialog-desc {
  z-index: 1;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 20px;
}

.card__save__dialog svg {
  max-width: 39px;
}

.dialog__text {
  font-family: var(--accent-font-family, sans-serif);
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.filter-brightness {
  filter: brightness(200%);
}

.filter-blur {
  filter: blur(1rem);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-desigions {
  filter: hue-rotate(30deg) brightness(0.8);
}

.filter-sepia {
  filter: sepia(0.9);
}

.filter-expiriance {
  filter: hue-rotate(95deg) contrast(0.4) saturate(2) blur(1.5px);
}

.filter-saturate {
  filter: saturate(3.5);
}